
.top-bar {
  padding-left: 240px;
  padding-right: 225px;
}

@media (max-width: 1550px) {
  .top-bar {
    padding-left: 140px;
    padding-right: 125px;
  }
}

@media (max-width: 1350px) {
  .top-bar {
    padding-left: 90px;
    padding-right: 75px;
  }
}
@media (max-width: 1150px) {
  .top-bar {
    padding-left: 60px;
    padding-right: 45px;
  }
}

.top-bar {
  background-color: rgba(9, 30, 66);
}


.drop {
  color: white;
  background-color: #2f353a;
  border: 0px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  border-color: #2f353a;
  cursor: pointer;
}

.drop:focus {
  outline: 0 !important;
}

.projects {
  padding-top: 10px;
}

a {
  overflow:hidden; 
  overflow-y:hidden;
}

.project {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.overview {
  background-color: #515d68
}

.global-settings {
  float: right;
  margin-right: 30px;
  margin-top: 13px;
} 

.nav-title {
  text-transform: uppercase;
  color: #515d68;
  font-size: 10px;
  padding-left: 10px
}

.overview {
  background-color: #515d68
}

.admin-icon {
  font-size: 20px;
}

.no-project {
  margin-left: 15px;
}

#top-panel {
  width: 100%;
  position: fixed;
  padding-left: 200px;
  padding-right: 30px;
  z-index: 1;
  background-color:#f0f1f4;
  height: 50px;
  border-bottom: 1px solid #b9babd1f;
}

.first {
  padding-left: 22px;
}

.drop-area .btn {
  color: black
}

.drop-area li:hover {
  background-color: #5092da59
}

#dropdownBasic1 {
  padding: 2px !important;
  background-color: #343a40;
  font-size: 18px;
}

#dropdownBasic1:hover {
  background-color: inherit !important;
}

.dropdown-menu {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-toggler {
  border: none;
}
.status-desc {
  color: white;
}


.stopped {
  color: #9c9797;
}

.recording {
  color: #10a54a;
  border-radius: 35px;
	animation-name: pulse;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(16, 165, 74,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(116, 165, 74,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(16, 165, 74,0);
	}
}

.on {
  color: #28a745
}

.off {
  color: #bdbdbd
}

.refresh {
  color: white
} 

.refresh:hover:enabled {
  color: #B3D4FF;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
  outline:none;
  box-shadow:none;
}

.clear-all:hover {
  color: red
}

.clear-all {
  color: white;
}

