<nav class="navbar navbar-expand-lg top-bar">
  <a class="navbar-brand text-white" routerLink="/" routerLinkActive="active">Spoiler Proxy</a>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">

      </li>
    </ul>
    <button [disabled]="autoRefresh" class="btn refresh btn-sm" type="button" (click)="loadData()"><i class="fas fa-redo-alt"></i>
      refresh</button>
    <button class="btn autorefresh text-white btn-sm" title="auto refresh" type="button" (click)="changeAutoRefresh()"><span
        [className]="autoRefresh === true ? 'on' : 'off'"><i class="fas fa-sync"></i> auto refresh</span></button>
    <span class="status-desc" *ngIf="status !== undefined"><i class="fas fa-circle"
        [ngClass]="(status===true)?'recording':'stopped'"></i></span>
    <span class="status-desc" *ngIf="!status"><i class="fas fa-circle" [ngClass]="'stopped'"></i></span>
    <div>
      <app-info-modal [proxyInfo]="proxyInfo"></app-info-modal>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>