
.content-container {
  padding-left: 220px;
  padding-right: 220px;
  background-color: #f0f1f4;
  padding-top: 75px;
  min-height: 100%;
  width: 100%;;
  position: absolute;
}

@media (max-width: 1550px) {
  .content-container  {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media (max-width: 1350px) {
  .content-container {
    padding-left: 70px;
    padding-right: 70px;
  }
}
@media (max-width: 1150px) {
  .content-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
