<div class="main content-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card endpoints">
          <div class="card-header">
            <form class="form-inline-sm" style="float: right">
              <div class="input-group input-group-sm">
                <input class="form-control" id="label-filter" type="search" placeholder="search address"
                  (keyup)='search($event.target.value)'>
                <div class="input-group-append">
                  <button class="btn tools" type="button"><i class="fas fa-redo-alt"></i> refresh</button>
                </div>
                <div class="input-group-append">
                  <button class="btn tools" type="button"><i class="fas fa-trash"></i> clear all</button>
                </div>
              </div>
            </form>
          </div>
          <div class="card-body ">
            <div class="table-responsive">
              <table class="table items">
                <thead>
                  <tr>
                    <th scope="col" class="head">id</th>
                    <th scope="col" class="head">address</th>
                    <th scope="col" class="head">status</th>
                    <th scope="col" class="head">connections</th>
                    <th scope="col" class="head"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="!endpoints || endpoints.length === 0">
                    <td colspan="4" class="text-muted no-data">No Data...</td>
                  </tr>
                  <tr *ngFor="let _ of endpoints">
                    <td class="ellipsis">
                      {{_.id}}
                    </td>
                    <td>
                      {{_.address}}
                    </td>
                    <td>
                      {{_.status}}
                    </td>
                    <td class="ellipsis">
                      {{_.connections}}
                    </td>
                    <td>
                      <div ngbDropdown class="d-inline-block" style="position: static;">
                        <button class="btn text-primary" id="dropdown" ngbDropdownToggle>action</button>
                        <div class="drop-area" ngbDropdownMenu aria-labelledby="dropdown">
                          <li>
                            <button ngbDropdownItem>Action - 1</button>
                            <button ngbDropdownItem>Another Action</button>
                            <button ngbDropdownItem>Something else is here</button>
                          </li>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>