<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <p>current version: {{version}}</p>
      <p>
          <a href="swagger-ui.html">API documentation</a> for automated tests.<br>
          <a href="https://www.spoilerproxy.com">Documentation.</a>
      </p>

  </div>
</ng-template>

<div class="info">
  <button class="btn btn-link info" (click)="open(content)"> <i class="far fa-question-circle"></i></button>
</div>